<div>
  <app-mainhat></app-mainhat>
  <div class="container">
    <app-complaints [cards] = "cards"></app-complaints>
    <div id="map">
      <app-map></app-map>
    </div>
    <div id="infoPlace">
      <div id="partyBody">
      <div id="squads">
        <div class="squadsHat" (click)="numberShow = 0"><b>Отряды</b> ({{sizeTeam}}/5)</div>
        <div class="squadsHat" (click)="numberShow = 1"><b>Информация</b></div>
          <!-- Тут ошибка первая -->
      </div>
        <hr class="line" noshade>
        <div id="squadsBody" #squadsBody [ngStyle]="{display: numberShow === 0 ? 'block' : 'none'}">
          <app-squad
            *ngFor = "let iterSquad of squads; let squadNum = index"
            [squad] = "iterSquad"
            [squadNumber] = "squadNum + 1"
            (newItemEvent)="addItem($event)"
            (newItemEvent3)="removeItem($event)"
          ></app-squad>
        </div>
        <div [ngStyle]="{display: numberShow === 1 ? 'block' : 'none'}">
          <app-information
            [scouts] = "scouts"
            [emuGroups]="emuGroups"
          ></app-information>
        </div>
      </div>
    </div>
  </div>
</div>
