#tableMap{
  margin-top: 60px;
  width: 560px;
  height: 400px;
  background-image: url('/assets/map.png');
  color: white;
  text-shadow: 1px 1px 2px black;
}
td{
  text-align: center;
  border: black 1px dashed;
  background-color: rgba(255, 255, 255, 0);
}
